@model ProyectoMicroSQL.Models.Diccionario

@{
    ViewBag.Title = "Ingreso de Código";
}

<h2>DatosSQL</h2>

<div>
    <h4>Diccionario</h4>
<textarea id="test" name="test" onkeyup="resizeTextarea('test')" data-resizable="true"></textarea>
    <dt class="col-md-offset-2 col-md-10">
        <input type="submit" value="Ingresar" class="btn btn-default" />
    </dt>
</div>