@model ProyectoMicroSQL.Models.Sintaxis
@{
    /**/

    ViewBag.Title = "Ingreso de Código";
}

<h2>DatosSQL</h2>

@using (Html.BeginForm("Data", "MicroSQL", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextAreaFor(model => model.SintaxisEscrita, new { @cols = "500", @rows = "10", @style = "width:200%;" })
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ingresar" class="btn btn-default" />
        </div>
    </div>
}
<h6> @Html.ActionLink("Revisar Tablas Existentes", "VerTablas") </h6>
<h6> @Html.ActionLink("Ingresar nuevo Diccionario", "Configuracion") </h6>
<h6> @Html.ActionLink("Tabla Seleccionada", "VerTablaSelect") </h6>