
@{
    ViewBag.Title = "Menú";
}

<h2>Menu</h2>

<div>
    <h6> @Html.ActionLink("Ingresar nuevo Diccionario", "Configuracion")</h6>
    <h6> @Html.ActionLink("Ingresar Datos", "IngresarSQL")</h6>
</div>