@model IEnumerable<ProyectoMicroSQL.Models.Listado_Tablas>

@{
    ViewBag.Title = "VerTablas";
}

<h2>Tablas Creadas</h2>

<p>
    @Html.ActionLink("Ingresar Nuevo", "IngresarSQL")
</p>
<table class="table">
    <tr>
        <th>
            Tabla
        </th>
        <th>
            Atributos
        </th>
        <th>
            Tipos
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValoresTabla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoValoresTabla)
            </td>
        </tr>
    }

</table>
